<div class="container" style="margin-top: 5em">
    <div class="row">
        <div class="col-12">
            <p class="text-center">
                you have  Successfully register for Life Coach, please click on this link 
                to download app
            </p>
        </div>
    </div>
</div>